<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/clas.css">
</head>
<body method="get" action="/formi">
<div class="row">
<div class="col-xs-12">
<img src="https://pbs.twimg.com/profile_images/716487122224439296/HWPluyjs.jpg"><br>
THE DETAILS OF THE USER ARE<br>
First Name is <%= result[0].name %><br>
Last Nmae is <%= result[0].last %><br>
E-Mail is <%= result[0].emai %><br>
Mobile no. is <%= result[0].mobileno %><br>
</div>
</div>
</body>
</html>