<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="clas.css">
</head>
<body>
<div class="row">
<div class="col-xs-10">
<img src="https://pbs.twimg.com/profile_images/716487122224439296/HWPluyjs.jpg"><br>
<h1>Particular Student's Detail</h1>
<p>First Name:<%= result.name %><br></p>
<p>First Name:<%= result.last %><br></p>
<p>First Name:<%= result.emai %><br></p>
</div>
</div>
</body>
</html>